<a href="https://colab.research.google.com/github/Shohjahon02/first_my_git/blob/main/DataFrame1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame as daf

In [ ]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = daf(data)
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [ ]:
df.head()

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [ ]:
df = daf(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'])

In [ ]:
df

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN
5  2016  1.66        31.4  NaN
6  2015  1.64        30.9  NaN
7  2010  1.53        28.5  NaN

In [ ]:
df.T

               0     1     2     3     4     5     6     7
Yil         2021  2020  2019  2018  2017  2016  2015  2010
Temp        1.54  1.48  1.56  1.62  1.65  1.66  1.64  1.53
Aholi soni  33.9  33.5  32.9  32.5  31.9  31.4  30.9  28.5
YAIM         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

In [ ]:
df.head()

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN

In [ ]:
df = daf(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'], index=[11, 12, 23, 43, 54, 56, 57, 58])

In [ ]:
df

     Yil  Temp  Aholi soni YAIM
11  2021  1.54        33.9  NaN
12  2020  1.48        33.5  NaN
23  2019  1.56        32.9  NaN
43  2018  1.62        32.5  NaN
54  2017  1.65        31.9  NaN
56  2016  1.66        31.4  NaN
57  2015  1.64        30.9  NaN
58  2010  1.53        28.5  NaN

In [ ]:
df.Temp

11    1.54
12    1.48
23    1.56
43    1.62
54    1.65
56    1.66
57    1.64
58    1.53
Name: Temp, dtype: float64

In [ ]:
temp = df.Temp
temp

11    1.54
12    1.48
23    1.56
43    1.62
54    1.65
56    1.66
57    1.64
58    1.53
Name: Temp, dtype: float64

In [ ]:
df['Aholi soni']

11    33.9
12    33.5
23    32.9
43    32.5
54    31.9
56    31.4
57    30.9
58    28.5
Name: Aholi soni, dtype: float64

In [ ]:
df

     Yil  Temp  Aholi soni head
11  2021  1.54        33.9  NaN
12  2020  1.48        33.5  NaN
23  2019  1.56        32.9  NaN
43  2018  1.62        32.5  NaN
54  2017  1.65        31.9  NaN
56  2016  1.66        31.4  NaN
57  2015  1.64        30.9  NaN
58  2010  1.53        28.5  NaN

In [ ]:
df.head

<bound method NDFrame.head of      Yil  Temp  Aholi soni head
11  2021  1.54        33.9  NaN
12  2020  1.48        33.5  NaN
23  2019  1.56        32.9  NaN
43  2018  1.62        32.5  NaN
54  2017  1.65        31.9  NaN
56  2016  1.66        31.4  NaN
57  2015  1.64        30.9  NaN
58  2010  1.53        28.5  NaN>

In [ ]:
df.YAIM = 1600
df

     Yil  Temp  Aholi soni  YAIM
11  2021  1.54        33.9  1600
12  2020  1.48        33.5  1600
23  2019  1.56        32.9  1600
43  2018  1.62        32.5  1600
54  2017  1.65        31.9  1600
56  2016  1.66        31.4  1600
57  2015  1.64        30.9  1600
58  2010  1.53        28.5  1600

In [ ]:
val = pd.Series([1881, 1950, 1560], index=[11, 23, 57])
df.YAIM = val
df

     Yil  Temp  Aholi soni    YAIM
11  2021  1.54        33.9  1881.0
12  2020  1.48        33.5     NaN
23  2019  1.56        32.9  1950.0
43  2018  1.62        32.5     NaN
54  2017  1.65        31.9     NaN
56  2016  1.66        31.4     NaN
57  2015  1.64        30.9  1560.0
58  2010  1.53        28.5     NaN

In [ ]:
YAIM = [1550, 1500, 1450, 1400, 1350, 1300, 1250, 1200]
df.YAIM = YAIM

In [ ]:
df

     Yil  Temp  Aholi soni  YAIM
11  2021  1.54        33.9  1550
12  2020  1.48        33.5  1500
23  2019  1.56        32.9  1450
43  2018  1.62        32.5  1400
54  2017  1.65        31.9  1350
56  2016  1.66        31.4  1300
57  2015  1.64        30.9  1250
58  2010  1.53        28.5  1200

In [ ]:
df['1400+'] = df.YAIM > 1400

In [ ]:
df

     Yil  Temp  Aholi soni  YAIM  1400+
11  2021  1.54        33.9  1550   True
12  2020  1.48        33.5  1500   True
23  2019  1.56        32.9  1450   True
43  2018  1.62        32.5  1400  False
54  2017  1.65        31.9  1350  False
56  2016  1.66        31.4  1300  False
57  2015  1.64        30.9  1250  False
58  2010  1.53        28.5  1200  False

In [ ]:
del df['1400+']

In [ ]:
df

     Yil  Temp  Aholi soni  YAIM
11  2021  1.54        33.9  1550
12  2020  1.48        33.5  1500
23  2019  1.56        32.9  1450
43  2018  1.62        32.5  1400
54  2017  1.65        31.9  1350
56  2016  1.66        31.4  1300
57  2015  1.64        30.9  1250
58  2010  1.53        28.5  1200

In [ ]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [ ]:
df2 = daf(data)

In [ ]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
df2.T

            2021  2020  2019  2018  2017  2016
Uzbekistan  33.9  33.5  32.9  32.5  31.9   NaN
Kazakhstan  18.9  18.7  18.5  18.3  18.1  17.8

In [ ]:
df2.index.name = 'Yil'

In [ ]:
df2

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
df2 = daf(data, index=[2021, 2019, 2017])
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

In [ ]:
df2.T

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [ ]:
df2.T

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

In [ ]:
df2.values

array([[33.9, 18.9],
       [32.9, 18.5],
       [31.9, 18.1]])

In [ ]:
df2.keys

<bound method NDFrame.keys of       Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1>

In [ ]:
df2.values.mean()

25.700000000000003

In [ ]:
df2.T

Yil         2021  2019  2017
Yil
Uzbekistan  18.9  18.5  18.1
Kazakhstan  33.9  32.9  31.9

In [2]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}
df = pd.DataFrame(data)

In [3]:
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [4]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}

In [6]:
df2 = df.append(daf(data2))

In [7]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [8]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [9]:
df2.columns

Index(['username', 'email'], dtype='object')

In [11]:
'email' in df2.columns

True

In [13]:
newind = pd.Index(['olim', 'nafisa', 'hamida'])
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [15]:
newind.isin(df2.index)

array([ True, False, False])

In [17]:
df2.index.difference(newind)

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [18]:
newind.difference(df2.index)

Index(['hamida', 'nafisa'], dtype='object')

In [19]:
df2.index.union(newind)

Index(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

In [20]:
np.sort(df2.index.union(newind))

array(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'], dtype=object)

In [22]:
df2.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [23]:
df2.index.drop('olim')

Index(['anvar', 'maryam', 'javohir', 'maryam'], dtype='object')

In [25]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [28]:
df2.index.insert(5, 'masha')

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'masha', 'maryam'], dtype='object')

In [29]:
df2.index.delete(5)

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim'], dtype='object')

In [30]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [31]:
df2.index.is_monotonic

False

In [32]:
df2.index.is_unique

False

In [33]:
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [34]:
newind.unique

In [38]:
newind.is_unique

True

In [39]:
newind.unique()

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [40]:
df2.index.unique()

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')