<a href="https://colab.research.google.com/github/Shohjahon02/first_my_git/blob/main/merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (60/60), 20.24 MiB | 3.66 MiB/s, done.

In [ ]:
movies = pd.read_csv("/content/Practicum_Datasets/IMDb/IMDb_movies.csv")
movies.head()

<ipython-input-4-062d3b59b2f1>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("/content/Practicum_Datasets/IMDb/IMDb_movies.csv")

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN

In [ ]:
ratings = pd.read_csv("/content/Practicum_Datasets/IMDb/IMDb_ratings.csv")
ratings

      imdb_title_id  weighted_average_vote  total_votes
0         tt0000009                    5.9          154
1         tt0000574                    6.1          589
2         tt0001892                    5.8          188
3         tt0002101                    5.2          446
4         tt0002130                    7.0         2237
...             ...                    ...          ...
85850     tt9908390                    5.3          398
85851     tt9911196                    7.7          724
85852     tt9911774                    7.9          265
85853     tt9914286                    6.4          194
85854     tt9914942                    6.7          102

[85855 rows x 3 columns]

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   imdb_title_id       85855 non-null  object
 1   title               85855 non-null  object
 2   original_title      85855 non-null  object
 3   year                85855 non-null  object
 4   date_published      85855 non-null  object
 5   genre               85855 non-null  object
 6   duration            85855 non-null  int64
 7   country             85791 non-null  object
 8   language            85022 non-null  object
 9   director            85768 non-null  object
 10  writer              84283 non-null  object
 11  production_company  81400 non-null  object
 12  actors              85786 non-null  object
 13  description         83740 non-null  object
 14  budget              23710 non-null  object
dtypes: int64(1), object(14)
memory usage: 9.8+ MB

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   weighted_average_vote  85855 non-null  float64
 2   total_votes            85855 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.0+ MB

In [ ]:
movies_ratings = pd.merge(movies, ratings)
movies_ratings.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'budget',
       'weighted_average_vote', 'total_votes'],
      dtype='object')

In [ ]:
df2 = movies_ratings[['title', 'year', 'weighted_average_vote']]
df2

                                title  year  weighted_average_vote
0                          Miss Jerry  1894                    5.9
1         The Story of the Kelly Gang  1906                    6.1
2                      Den sorte drøm  1911                    5.8
3                           Cleopatra  1912                    5.2
4                           L'Inferno  1911                    7.0
...                               ...   ...                    ...
85850                         Le lion  2020                    5.3
85851  De Beentjes van Sint-Hildegard  2020                    7.7
85852       Padmavyuhathile Abhimanyu  2019                    7.9
85853               Sokagin Çocuklari  2019                    6.4
85854      La vida sense la Sara Amat  2019                    6.7

[85855 rows x 3 columns]

In [ ]:
df2[(df2.title=='The Dark Knight')]

Empty DataFrame
Columns: [title, year, weighted_average_vote]
Index: []

In [ ]:
bat = df2[df2.year==2008]

In [ ]:
bat

                       title  year  weighted_average_vote
30943           Quality Time  2008                    3.9
34699         Geliebte Clara  2008                    5.8
35989     La rapina perfetta  2008                    7.2
36610         Berlin Calling  2008                    7.3
41904                Brothel  2008                    4.1
...                      ...   ...                    ...
64425       Nu Hon Than Chet  2008                    6.3
64697  Raman Thediya Seethai  2008                    7.0
64819               Overcome  2008                    5.6
64955        Subramaniapuram  2008                    8.0
65073   The President's Chef  2008                    4.0

[2164 rows x 3 columns]

In [ ]:
bat[bat.weighted_average_vote>=8]

,title,year,weighted_average_vote
48078,Il cavaliere oscuro,2008,9.0
51427,WALL·E,2008,8.4
52370,The Millionaire,2008,8.0
53407,Departures,2008,8.1
53722,Still Walking,2008,8.0
54312,Love Exposure,2008,8.1
55025,Svetat e golyam i spasenie debne otvsyakade,2008,8.0
55070,Vaaranam Aayiram,2008,8.0
55390,Gran Torino,2008,8.1
55587,Ip Man,2008,8.0
55647,Historias extraordinarias,2008,8.0
56074,"Live Fast, Die Young",2008,8.2
56135,Ghost in the Shell 2.0,2008,8.0
56350,The Stoning of Soraya M.,2008,8.0
56387,A Wednesday,2008,8.1
56405,Devrim Arabalari,2008,8.0
56412,Aasef ala el-iz'ag,2008,8.0
56488,Kanchivaram,2008,8.1
57282,Manjadikuru,2008,8.2
58133,Rush: Snakes & Arrows - Live in Holland,2008,8.5
59667,Gamyam,2008,8.3
63158,Anjathe,2008,8.1
64955,Subramaniapuram,2008,8.0

In [ ]:
movies_ratings[movies_ratings.title=='Il cavaliere oscuro']['description']

48078    When the menace known as the Joker wreaks havo...
Name: description, dtype: object

In [ ]:
A = pd.DataFrame({'Transport': ['poezd', 'avtomabil', 'kema'], 
                  'Tezligi':['70', '180', '45']})
                  
A

   Transport Tezligi
0      poezd      70
1  avtomabil     180
2       kema      45

In [ ]:
B = pd.DataFrame({'Transport': ['poezd', 'avtomabil', 'tramvay'], 
                  'Narxi':['98000', '10000', '65000']})
                  
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [ ]:
pd.merge(A, B, how='inner')

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000

In [ ]:
pd.merge(A, B, how='outer')

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000
2       kema      45    NaN
3    tramvay     NaN  65000

In [ ]:
pd.merge(A, B, how='left')

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000
2       kema      45    NaN

In [ ]:
pd.merge(A, B, how='right')

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000
2    tramvay     NaN  65000

In [ ]:
A = pd.DataFrame({'Transport_turi': ['poezd', 'avtomabil', 'kema'], 
                  'Tezligi':['70', '180', '45']})
                  
A

  Transport_turi Tezligi
0          poezd      70
1      avtomabil     180
2           kema      45

In [10]:
pd.merge(A, B, left_on='Transport_turi', right_on='Transport')

  Tezligi  Transport  Narxi
0      70      poezd  98000
1     180  avtomabil  10000

In [ ]:
A = A.set_index('Transport_turi')

In [12]:
A

               Tezligi
Transport_turi
poezd               70
avtomabil          180
kema                45

In [13]:
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [14]:
pd.merge(A, B, left_index=True, right_on='Transport')

  Tezligi  Transport  Narxi
0      70      poezd  98000
1     180  avtomabil  10000

In [15]:
B = B.set_index('Transport')

In [16]:
B

           Narxi
Transport
poezd      98000
avtomabil  10000
tramvay    65000

In [17]:
pd.merge(A, B, left_index=True, right_index=True)

          Tezligi  Narxi
poezd          70  98000
avtomabil     180  10000